repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.12
  hooks:
    # Run the linter.
    - id: ruff-check
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.9.8
    hooks:
      # Compile requirements
      - id: pip-compile
        name: pip-compile requirements.in
        args: [requirements.in, -o, requirements.txt]
      #- id: pip-compile
      #  name: pip-compile requirements-dev.in
      #  args: [requirements-dev.in, -o, requirements-dev.txt]
      #  files: ^requirements-dev\.(in|txt)$
      # Sync lock file
      - id: uv-lock
      # Sync lock file to requirements.txt
      - id: uv-export
